*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
}

.input {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn:hover {
    background-color: #0069d9;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}